.season-card_info{
    padding-top: 5px;
    padding-left: 5px;
    font-size: 11px;
    color: rgba(200, 209, 255, 0.5);
}
.season-card_title{
    font-size: 14px;
    font-weight: bold;
    color: rgb(234, 237, 255);
}
.season-card_episodes{
    font-weight: bold;
    font-size: 12px;
}